body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: honeydew;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin: 20px;
}
.header h1 {
  color: #333;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  color: #666;
  font-size: 12px;
  margin-top: 20px;
}

.groups img {
  width: 50%;
  height: auto;
  display: inline-block;
  padding: 1rem;
}
